.container
  .row.footer.text-center
    .col-md-12
      hr
      p
        a(href="https://twitter.com/" + underhood.curatorTwitter)= "@" + underhood.curatorTwitter
        = " бережно курирует авторов"
      include menu
      br
